.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
  max-width: 1000px;
	margin: 0 auto;
	/*
		Always want 20px padding: 
		960px + 20px*2 = 1000px
	*/
  padding-left: 20px;
  padding-right: 20px;
}

/*
	Clearfix to prevent containers with 
  floated children from collapsing 
*/
.row:before, 
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	/* Mobile default */
	width: 100%;
	min-height: 1px;
	/*
		Each column gets a gutter of 10px each side
		each row is 960px. To calc gutter size: 
			10/960 = .0104166
	*/
	padding-left: 1.04166%;
  padding-right: 1.04166%;
	float: left;
}


/*
	At screen sizes 1024px+, we want to use
	a 12 column grid: col-[*]/12 = width %
*/
@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

  .col-offset-1 {
    margin-left: 8.33%;  
  }

  .col-offset-2 {
    margin-left: 16.66%;  
  }

  .col-offset-3 {
    margin-left: 25%;  
  }

  .col-offset-4 {
    margin-left: 33.33%;  
  }

  .col-offset-5 {
    margin-left: 41.66%;  
  }

  .col-offset-6 {
    margin-left: 50%;  
  }

  .col-offset-7 {
    margin-left: 58.33%;  
  }

  .col-offset-8 {
    margin-left: 66.66%;  
  }

  .col-offset-9 {
    margin-left: 75%;  
  }

  .col-offset-10 {
    margin-left: 83.33%;  
  }

  .col-offset-11 {
    margin-left: 91.66%;  
  }
}
