html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html { 
  font-size: 62.5%; 
} 

body { 
  font-size: 14px; 
  font-size: 1.4rem; 
} 

h1 { 
  font-size: 30px; 
  font-size: 3rem; 
} 

h2 { 
  font-size: 20px; 
  font-size: 2rem; 
} 

.intro {
	padding-top: 10vh;
	text-align: center;
}

.hero {
	height: 100vh; 
}

.search-label {
  margin-bottom: 20px;
  display: block;
}

.search-form {
	margin-bottom: 10vh;
	display: flex;
}

.search-input {
	flex: 1;
	padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
	h1 { 
		font-size: 40px; 
		font-size: 4rem; 
	} 

	h2 { 
		font-size: 30px; 
		font-size: 3rem; 
	}

	.intro {
		padding-top: 20vh;
	}
	
	.search-input {
		height: 3rem;
	}

	.btn {
		display: none;
	}
}
