.hero {
  background-color: mediumaquamarine;
}

.btn {
  padding: 10px 15px;
  background-color: lightblue;
}

.heading-content {
  background-color: cornsilk;
}

.search-form h2 {
  margin-bottom: 2.5rem;
}
